body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("forest3.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.todo-app {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  background-color: #e5d466;
  position: relative;
  background: linear-gradient(-135deg, transparent 4.2rem, #e5d466 0);
  /* filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.9)); */
}

.todo-app::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
      to left bottom,
      transparent 50%,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.2)
    )
    100% 0% no-repeat;
  display: block;

  width: 6em;
  height: 6em;
  border-bottom-left-radius: inhert;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  font-weight: 100;
  font-size: 40px;
  margin: 10px 0;
  font-weight: bold;
}

ul {
  margin-left: 0px;
  padding: 0;
}

.item {
  display: block;
  width: 20px;
  height: 20px;
}

li :last-child {
  margin-left: auto;
}
li.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px 15px;
  border-bottom: 1px solid rgb(130, 130, 130);
  font-weight: 200;
  font-size: 1.5em;
}

span {
  padding: 15px;
}

button.closeBtn {
  padding: 5px 7px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

button #trashcan {
  font-size: 15px;
  color: rgb(198, 11, 11);
}

.closeBtn:hover {
  background-color: rgb(246, 149, 205);
}

.taskSection {
  display: flex;
}

#taskInput {
  padding: 10px 10px;
  font-size: 1.5em;
  font-weight: lighter;
  flex-grow: 2;
  margin-right: 4px;
}

#addBtn {
  padding: 4px 15px;
  font-size: 1em;
  font-weight: lighter;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #fff;
}

#addBtn:active {
  background-color: lightgray;
}

.label {
  display: inline-block;
}

.strike-through {
  text-decoration: line-through;
}

.item:checked + span {
  text-decoration: line-through;
}
